@model LoveWedLive_Capstone.Models.QuoteRequest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuoteRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursRequested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursRequested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfWedding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfWedding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAndTimeOfRequest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAndTimeOfRequest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueStreetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueStreetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueZip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueZip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequestingPhotographer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRequestingPhotographer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequestingPhotoBooth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRequestingPhotoBooth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequestingDJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRequestingDJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequestingOfficiant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRequestingOfficiant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequestngWeddingStylist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRequestngWeddingStylist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
