@model IEnumerable<LoveWedLive_Capstone.Models.QuoteRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Quote Requests</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoursRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWedding)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.VenueStreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRequestingPhotographer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRequestingPhotoBooth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRequestingDJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRequestingOfficiant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRequestngWeddingStylist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoursRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWedding)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.VenueStreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequestingPhotographer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequestingPhotoBooth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequestingDJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequestingOfficiant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRequestngWeddingStylist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
