@model LoveWedLive_Capstone.Models.QuoteRequest

@{
    ViewData["Title"] = "QuoteRequest";
}

<h1>QuoteRequest</h1>

<div>
    <h4>QuoteRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceQuoted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceQuoted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoursRequested)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoursRequested)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
