@model IEnumerable<LoveWedLive_Capstone.Models.Vendor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubscriptionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser)
            </th>
            <th></th>
        </tr>
    </thead>

    <form asp-controller="Vendors" asp-action="Index">
        <p>
            Vendor Search: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>
            
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CompanyName">  @Html.DisplayFor(modelItem => item.CompanyName)</a>
</td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubscriptionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentityUser.Id)
                </td>
                
            </tr>
        }
    </tbody>
</table>
@*<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed/v1/place?zoom=16&q=@Model.Lat,@Model.Long&key=@LoveWedLive_Capstone.APIKeys.GoogleMapsKey"></iframe>

</div>*@

