@model IEnumerable<LoveWedLive_Capstone.Models.Vendor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Address.StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.Zipcode)
            </th>

            <th></th>
        </tr>
    </thead>
    <form asp-controller="Vendors" asp-action="Index">
        <p>
            VendorSearch: <input type="text" name="SearchString">
            <input type="submit" value="Filter" />
        </p>
    </form>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.CompanyName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Address.StreetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Zipcode)
            </td>

            
        </tr>
        }
    </tbody>
</table>
