@model IEnumerable<LoveWedLive_Capstone.Models.VendorQuote>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriceQuote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuotedHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriceQuote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotedHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.LastName)
            </td>
            <td>
                |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
